body {
    font-family: Arial, sans-serif;
    background-color: #383737;
    margin: 0;
    padding-top: 50px; /* Отступ сверху, чтобы контент не перекрывался навигацией */
}


.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-top: 0;
    text-align: center;
}

form {
    text-align: center;
}

.file-upload {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 5px;
}

.file-upload:hover {
    background-color: #0056b3;
}

#filename {
    margin-top: 10px;
    font-size: 14px;
}

#drop-area {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    margin: 20px auto; /* Центрируем элемент по горизонтали */
    width: 50%; /* Задаем ширину элемента */
    max-width: 600px; /* Максимальная ширина, чтобы на больших экранах элемент не был слишком широким */
}


.highlight {
    border-color: #007bff;
}

/* Сброс стилей */
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav {
    background-color: #333; /* Тёмный фон для навигационной панели */
    position: fixed; /* Фиксируем панель на верху страницы */
    width: 100%; /* Панель занимает всю ширину */
    top: 0; /* Расположение в верхней части экрана */
    z-index: 1000; /* Панель всегда поверх других элементов */
}

nav ul {
    display: flex;
    justify-content: center; /* Центрируем ссылки по горизонтали */
    align-items: center; /* Центрируем ссылки по вертикали */
}

nav ul li {
    padding: 10px; /* Добавляем немного пространства вокруг текста */
}

nav ul li a {
    text-decoration: none; /* Убираем подчёркивание текста ссылок */
    color: white; /* Белый цвет текста */
    padding: 10px 20px; /* Паддинг для ссылок */
}

nav ul li a:hover {
    background-color: #555; /* Цвет фона при наведении */
}

#links-container {
    max-width: 100%;
    overflow-x: auto; /* Гарантирует, что таблица будет прокручиваться, если это необходимо */
    margin: 20px auto;
}

#links-table {
    width: 100%;
    border-collapse: collapse;
}

#links-table th, #links-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    word-break: break-all; /* Разрешает перенос слов в любом месте, что предотвращает выход текста за границы ячейки */
}

#links-table th {
    background-color: #f2f2f2;
}

#links-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

#links-table tr:hover {
    background-color: #f1f1f1;
}

#links-table td button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#links-table td button:hover {
    background-color: #45a049;
}


